.setor {
  position: relative;
  width: 100%;
  height: 100%;

  .espaco-card {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: scroll;
    overflow-x: hidden;
    height: 65%;


    h2, h3 {
      margin: 0;
      padding: 0;
    }

    .divisao-card {

      max-width: 75%;
      margin: 0 auto;

      .elemento-card {
        width: 30em;
        height: 25em;
        border-left: .5em solid #FF4081;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
    }
  }
}

.espaco-formulario {
  position: relative;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right bottom, #6664e0, #4450ad, #2a3a7b, #18254b, #0b0f1f);

  h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-style: bold;

  }

  .campo-formulario {
    background-color: rgba(255, 255, 255, 0.788);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    ::ng-deep .mat-form-field {

      .mat-input-element {
          color: black;
      }
      .mat-form-field-label {
          color: black;
      }

      .mat-form-field-underline {
        background-color: black;
      }

      .mat-form-field-underline:hover {
        background-color: black;
      }

    }

    ::ng-deep .mat-form-field.mat-focused {

      .mat-form-field-label {
          color: black;

      }
      .mat-input-element {
          color: black;
      }

      .mat-form-field-required-marker {
        color: black;
      }

      .mat-form-field-ripple {
      background-color: black;
      }
    }

    .input,
    .input::placeholder {
      color: black;
    }
  }

  }

