<app-navbar></app-navbar>

<div class="w-100 espaco-integrantes">

  <div class="w-100 d-flex justify-content-center align-items-center flex-column">

    <div class="titulo d-flex justify-content-center align-items-center gap-3">
      <i class="fa-solid fa-people-group"></i>
      <h1>Quem somos nós ?</h1>
    </div>

    <div class="w-100 px-5 py-5 mb-2 d-flex justify-content-center align-items-center">

    <div id="carouselExampleControls" class="tamanho-carousel integrante carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/integrantes/Foto_Thiago_kimiro.jpg" class="rounded-circle d-block w-100 mb-3" alt="foto_thiago">
          <h2 class="mb-2" style="text-align:center;">Thiago Rocha</h2>
          <h2 style="text-align:center;">Desenvolvedor Full-Stack</h2>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/integrantes/foto_renaM-atual_kimiro.jpeg" class="rounded-circle d-block w-100 mb-3" alt="foto_renan">
          <h2 class="mb-2" style="text-align:center;">Renan Almeida</h2>
          <h2 style="text-align:center;">Desenvolvedor Back-End</h2>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/integrantes/foto_Pedro_kimiro.jpeg" class="rounded-circle d-block w-100 mb-3" alt="foto_pedro">
          <h2 class="mb-2" style="text-align:center;">Pedro Damaso</h2>
          <h2 style="text-align:center;">Desenvolvedor Front-End</h2>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/integrantes/foto_welintao_kimiro.jpeg" class="rounded-circle d-block w-100 mb-3" alt="foto_wellingthon">
          <h2 class="mb-2" style="text-align:center;">Wellinghton Souza</h2>
          <h2 style="text-align:center;">Facilitador - Documentador</h2>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/integrantes/foto_Vintão.jpeg" class="rounded-circle d-block w-100 mb-3" alt="foto_vitor">
          <h2 class="mb-2" style="text-align:center;">Vitor Mota</h2>
          <h2 style="text-align:center;">Facilitador - Documentador</h2>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

   </div>

</div>

<app-rodape></app-rodape>
