<app-navbar></app-navbar>

<div class="principal">

    <main class="w-100 h-100 d-flex justify-content-center align-items-center">

    <div class="espaco-card w-50 h-auto card d-flex justify-content-center align-items-left mb-4 px-4 py-4">

        <div class="elemento d-flex justify-content-center align-items-center mb-4">

            <div class="w-75 espaco-elemento py-3 px-3">

              <div class="d-flex justify-content-center align-items-center">
                <img class="imagem-usuario px-2 py-2 mb-2" src="../../../assets/img/usuario-logo.png" alt="imagem-usuario-logo">
              </div>

                <h2 matTooltip="Nome do Funcionário" matTooltipClass="example-tooltip-red" class="text-center">{{funcionario.nome}}</h2>

                <div class="d-flex justify-content-left align-items-center gap-3">
                  <mat-icon matTooltip="Cargo do Funcionário" matTooltipClass="example-tooltip-red">business</mat-icon> <p>{{funcionario.nomeCargo}}</p>
                </div>

                <div class="d-flex justify-content-left align-items-center gap-3">
                  <mat-icon matTooltip="Setor do Funcionário" matTooltipClass="example-tooltip-red">people</mat-icon> <p>{{funcionario.nomeSetor}}</p>
                </div>

                <div class="d-flex justify-content-left align-items-center gap-3">
                  <mat-icon matTooltip="Email do Funcionário" matTooltipClass="example-tooltip-red">email</mat-icon> <p>{{funcionario.email}}</p>
                </div>

              </div>

            <div class="w-50">
                <article class="clock">
                    <div class="hours-container">
                      <div class="hours"></div>
                    </div>
                    <div class="minutes-container">
                      <div class="minutes"></div>
                    </div>
                    <div class="seconds-container">
                      <div class="seconds"></div>
                    </div>
                </article>
            </div>

        </div>

        <div class="d-flex justify-content-center align-items-right mb-3">
            <button (click)="baterPontoInicio()" class="w-50" mat-flat-button color="primary">Bater Ponto Entrada!</button>
        </div>

        <div class="d-flex justify-content-center align-items-right">
            <button (click)="baterPontoSaida()" class="w-50" mat-flat-button color="primary">Bater Ponto Saída!</button>
        </div>

    </div>

</main>

</div>

<app-rodape></app-rodape>


