<app-navbar></app-navbar>

<div class="principal">

    <img class="principal-background" src="../../../assets/img/background2-devkimiro.jpg" alt="background-principal">

    <main class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">

    <div class="w-50 rounded-3 card d-flex justify-content-center align-items-left mb-5">

        <div class="elemento d-flex justify-content-center align-items-left flex-column ms-4">

            <mat-icon>account_circle</mat-icon>
            <h2>Nome</h2>
            <p>E-mail</p>
            <p>Cargo</p>

        </div>

    </div>

    <div>

        <article class="clock">
            <div class="hours-container">
              <div class="hours"></div>
            </div>
            <div class="minutes-container">
              <div class="minutes"></div>
            </div>
            <div class="seconds-container">
              <div class="seconds"></div>
            </div>
          </article>

    </div>

</main>

</div>

<app-rodape></app-rodape>


