<app-navbar-admin></app-navbar-admin>

<div class="w-100 h-100 setor">

  <div class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">

    <div id="espaco-card" class="w-75 mb-3 espaco-card rounded-3">

      <div class="my-2">
        <h1 style="font-family: 'Anton', sans-serif; font-size: 3em;" class="text-center text-white mt-4">Todos os Usuários:</h1>
      </div>

      <div class="divisao-card d-flex justify-content-center align-items-center flex-wrap">
        <div *ngFor="let usuario of usuarios" class="card elemento-card rounded-3 d-flex justify-content-center align-items-center mx-5 my-5 px-3 py-3">

          <h2>Nome: {{usuario.nome}}</h2>
          <h3 class="mb-5">Email: {{usuario.email}}</h3>

          <button mat-flat-button color="warn" (click)="deletarUsuario(usuario.id)">Deletar</button>

        </div>
      </div>

    </div>

    <a mat-fab color="accent">
      <mat-icon>arrow_downward</mat-icon>
    </a>

  </div>

</div>

<div id="formulario" class=" w-100 espaco-formulario">

  <div class="w-100 d-flex justify-content-center align-items-center flex-column">

    <div class="w-50 criar-usuario px-3 mb-5 rounded-3 pt-2 campo-formulario d-flex justify-content-center align-items-center flex-column">

      <div class="mb-1 py-2">
        <h1>Criar Usuário:</h1>
      </div>

      <form [formGroup]="registroUsuario">

      <mat-form-field appearance="outline" class="w-100 px-5 mt-2">
          <mat-label>Nome:</mat-label>
            <input class="input" matInput placeholder="Digite aqui o nome..." formControlName="nome">
          <mat-icon matSuffix>alternate_nome</mat-icon>
          <mat-error *ngIf="nome.hasError('nome') && !nome.hasError('required')">
            Por favor, insira nome válido!
          </mat-error>
          <mat-error *ngIf="nome.hasError('required')">
            Nome <strong>necessário</strong>
          </mat-error>
      </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 px-5 mt-2">
            <mat-label>Email:</mat-label>
              <input class="input" matInput placeholder="Digite aqui o e-mail..." formControlName="email">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              Por favor, insira um e-mail válido!
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              E-mail é <strong>necessário</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 px-5 mt-2">
            <mat-label>Login:</mat-label>
              <input class="input" matInput placeholder="Digite aqui o login..." formControlName="login">
            <mat-icon matSuffix>person_pin</mat-icon>
            <mat-error *ngIf="login.hasError('login') && !login.hasError('required')">
              Por favor, insira um login válido!
            </mat-error>
            <mat-error *ngIf="login.hasError('required')">
              Login é <strong>necessário</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 px-5 mt-2">
          <mat-label>Senha:</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'"
              class="input" placeholder="Digite aqui sua senha..." formControlName="senha">
              <button type="text" mat-icon-button matSuffix (click)="hide= !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon class="password">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="senha.hasError('senha') && !senha.hasError('required')">
                Por favor, insira uma senha válida!
              </mat-error>
              <mat-error *ngIf="senha.hasError('required')">
                Senha é <strong>necessária</strong>
              </mat-error>
        </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="w-100 px-5 mt-2">
        <mat-label>Role:</mat-label>
          <input class="input" matInput placeholder="Digite aqui a role..." formControlName="role">
        <mat-icon matSuffix>group</mat-icon>
        <mat-error *ngIf="role.hasError('role') && !role.hasError('required')">
          Por favor, insira uma role válido!
        </mat-error>
        <mat-error *ngIf="role.hasError('required')">
          Role é <strong>necessário</strong>
        </mat-error>
    </mat-form-field> -->

        <div class="d-flex justify-content-center align-items-center mt-2 pb-2 mb-2 w-100 px-3">

          <button (click)="submit()" class="botao fs-6 text-white w-50" mat-raised-button color="primary"> Criar Usuário! </button>

        </div>

      </form>

    </div>

    <div class="w-50 px-3 mb-3 rounded-3 pt-2 campo-formulario d-flex justify-content-center align-items-center flex-column">

      <div class="mb-1 py-2">
        <h1>Atualizar Usuário:</h1>
      </div>

      <form  [formGroup]="registroUsuarioAtualizar">

        <mat-form-field appearance="outline" class="w-100 px-5 mt-2">
          <mat-label>Selecione o nome do Cargo</mat-label>
          <mat-select formControlName="login">
            <mat-option value="{{usuario.login}}" *ngFor="let usuario of usuarios">{{usuario.nome}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 px-5 mt-2">
          <mat-label>Senha:</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'"
              class="input" placeholder="Digite aqui sua senha..." formControlName="senha">
              <button mat-icon-button matSuffix (click)="hide= !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon class="password">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="senha.hasError('senha') && !senha.hasError('required')">
                Por favor, insira uma senha válida!
              </mat-error>
              <mat-error *ngIf="senha.hasError('required')">
                Senha é <strong>necessária</strong>
              </mat-error>
        </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="w-100 px-5 mt-2">
        <mat-label>Role:</mat-label>
          <input class="input" matInput placeholder="Digite aqui a role..." formControlName="role">
        <mat-icon matSuffix>group</mat-icon>
        <mat-error *ngIf="role.hasError('role') && !role.hasError('required')">
          Por favor, insira uma role válido!
        </mat-error>
        <mat-error *ngIf="role.hasError('required')">
          Role é <strong>necessário</strong>
        </mat-error>
    </mat-form-field> -->

        <div class="d-flex justify-content-center align-items-center mt-2 pb-2 mb-2 w-100 px-3">

          <button (click)="submitUpdate()" type="submit" class="botao fs-6 text-white w-50" mat-raised-button color="primary"> Atualizar Usuário! </button>

        </div>

      </form>

    </div>

    <a class="mb-5 arrown-down" mat-fab color="accent">
      <mat-icon>arrow_upward</mat-icon>
    </a>

  </div>

</div>

<app-rodape></app-rodape>
