<app-navbar></app-navbar>

<div class="horas">

    <main class="w-100 h-100 d-flex justify-content-center align-items-center">

      <div id="espaco-card" class="w-75 h-50 mb-5 espaco-card rounded-3 px-5 py-3">

        <div class="my-5">
          <h1 style="font-family: 'Anton', sans-serif; font-size: 3em;" class="text-center text-black mt-4">Painel de Horas:</h1>
        </div>

      <div class="w-20 h-50 d-flex justify-content-center align-items-center">

        <table class="table table-striped ">

          <thead>
            <tr class="table-light">
                <th>Cracha</th>
                <th>Hora de Entrada</th>
                <th>Hora de Saída</th>
                <th>Dia</th>
                <th>Mês</th>
                <th>Ano</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>111111</td>
              <td>09:00:00</td>
              <td>16:00:00</td>
              <td>03</td>
              <td>02</td>
              <td>2022</td>
            </tr>
            <tr>
              <td>111111</td>
              <td>09:00:00</td>
              <td>16:00:00</td>
              <td>03</td>
              <td>02</td>
              <td>2022</td>
            </tr>
            <tr>
              <td>111111</td>
              <td>09:00:00</td>
              <td>16:00:00</td>
              <td>03</td>
              <td>02</td>
              <td>2022</td>
            </tr>
          </tbody>

        </table>

      </div>

      </div>

    </main>

</div>

<app-rodape></app-rodape>
