.navbar{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color:#3d3b7e;
  height: 50px;

  .logo {
    width: 5em;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 10;
  }

  &-ancora {
    gap: 10%;
  }

  a {
    color:white;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    // font-weight: bold;
  }

  a:hover {
    font-size: 1.7em;
    transform: rotateY(-2px);
  }
}

